:root.light-theme {
  --background-color: #eaeaea; /* 明るいグレー */
  --text-color:       #333333; /* ダークグレー */
}

:root.dark-theme {
  --background-color: #1e1e2f; /* 暗すぎないダークブルーグレー */
  --text-color:       #656565; /* 明るいグレー */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* レスポンシブ */
@media (max-width: 1500px) {
  .sidebar {
    display: none; /* サイドバーを非表示にする */
  }

  .layout {
    grid-template-areas:
      "header header"
      "main main"
      "footer footer"; /* サイドバーをレイアウトから除外 */
    grid-template-columns: 1fr; /* メインコンテンツを全幅にする */
  }
}

/* 1000px以下でフォントやパディングを小さく */
@media (max-width: 1000px) {
  body {
    font-size: 15px;
  }
  .layout {
    padding: 8px;
  }
}

/* 600px以下でさらにモバイル向けに調整 */
@media (max-width: 600px) {
  body {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .layout {
    padding: 2px;
  }
  .header, .footer {
    font-size: 0.9rem;
    padding: 4px 0;
  }
  main {
    padding: 4px 0;
    margin: 0;
  }
  img, button, input, .plus-icon {
    max-width: 100%;
    height: auto;
    font-size: 1em;
  }
  .sidebar {
    display: none !important;
  }
}